
.app-container {
  font-family: Arial, sans-serif;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #;
}

.json-input-container {
  margin-bottom: auto;
}

.json-input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.json-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #004494;
}

.dropdown-container {
  margin-bottom: 20px;
}

.dropdown-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.multi-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.response-display {
  margin-top: 20px;
}

.response-display div {
  margin-bottom: 10px;
}
